<link href="css/style.css" rel="stylesheet">
<ion-view view-title="Componentes">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()">                     
    </ion-refresher>
    <div class="list card">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
           <h4>
             PERÍODO ACADÉMICO: Oct/2015 - Feb/2016
          </h4>
        </label>
      </div>
    </div>
    <div class="list card">
      <ion-list>
        <ion-item type="item-text-wrap" ng-repeat="i in datosComp" href="#/Gtuto/componentes/{{i.nom_coe}}">
          <div class="circle">{{ i.nom_coe | limitTo:1 }}</div>
          <h3 ng-repeat="x in i.paralelos">{{i.nom_coe}} [{{x.paralelo}}]</h3> 
        </ion-item>
      </ion-list>
    </div> 
  </ion-content>
</ion-view> 