<link href="css/style.css" rel="stylesheet">
<ion-view view-title="Componentes">
  <ion-content>
    <div class="list card">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
           <h4>
             PERÍODO ACADÉMICO: Oct/2015 - Feb/2016
          </h4>
        </label>
      </div>
    </div>
    <div class="list card">
      <ion-list>
        <div class="row" ng-repeat="i in datosCompEst">
          <div class="col col-20">
              <div>
                <a class="circulo">{{ i.nombre | limitTo:1 }}</a>
              </div>
          </div>
          <div class="col col-80">
            <ion-item type="item-text-wrap" href="#/Gtuto/componentesEst/{{i.nombre}}">
              <h3>{{i.nombre}}</h3>
              <h5 ng-repeat="y in i.paralelos">PARALELO: <strong>{{y.nombre}}</strong></h5> 
            </ion-item>
          </div>          
        </div>  
      </ion-list>
      <ion-list ng-show="Mensaje">
        <div class="item item-body">
          <img class="full-image" src="img/red.png">
          <p><strong>{{Mensaje}}</strong></p>
          <p><button  class="button button-block icon ion-loop button-positive" ng-click="RecargarPagina()">
              Actualizar
            </button>
          </p>
        </div>
      </ion-list>
    </div> 
  </ion-content>
</ion-view> 