<ion-view  view-title="Resumen de la tutoría creada">
  <ion-content>
    <ion-item type="item-text-wrap" ng-repeat="i in datosTuto |filter: {id:id}">
      <ul class="list">
        <li class="item item-toggle">
            Editar contenido de:<br>{{i.Residencia}}
            <label class="toggle toggle-dark">
              <input type="checkbox" ng-model="editar">
               <div class="track">
                 <div class="handle"></div>
              </div>
            </label>
        </li>
      </ul>
      <div ng-init="editar=true">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Tema:</strong></span>
          <input type="text" ng-model="t" ng-init="t=i.Nombre" ng-disabled="editar">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Ubicacion:</strong></span>
          <input type="text" ng-model="u" ng-init="u=i.Apellido" ng-disabled="editar">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            <strong>Horario:</strong>
          </div>
          <select ng-model="h" ng-init="h=i.Sexo" ng-disabled="editar">
            <option>08h30-09h00</option><option>09h00-09h30</option><option>09h30-10h00</option>
            <option>10h00-10h30</option><option>10h30-11h00</option><option>11h00-11h30</option>
            <option>11h30-12h00</option><option>12h00-12h30</option><option>12h30-13h00</option>
          </select>
        </label>
        <a class="button button-block icon-left ion-ios-compose button-positive" ng-click="editarTutoria(t,u,h)"  
           ng-disabled="editar">
          Editar Tutoría
        </a>
      </div>
      <div class="list card"></div>
      <div class="button-bar">
        <a class="button button-dark  icon-left ion-ios-people" href="#/Gtuto/componentes/{{i.id}}/{{i.title}}/{{i.id}}/{{i.title}}">Participantes</a>
        <a class="button button-dark  icon-left ion-ios-chatbubble" href="#/Gtuto/componentes/{{i.id}}/{{i.title}}/{{i.id}}/{{i.title}}">Comentarios</a>
      </div>       
    </ion-item> 
  </ion-content>
</ion-view>