<ion-view  view-title="Crear nueva tutoría">
  <ion-content class="fondo">
    <ion-list class="list-inset" ng-repeat="i in datosComp">
      <ion-item type="item-text-wrap" ng-repeat="x in i.paralelos |filter: {paralelo:paralelo}"
                    ng-if="i.nom_coe == nom_coe">
      <ul class="list">
        <li class="item item-toggle">
            Crea una tutoría para:<br>{{i.nom_coe}} [{{x.paralelo}}]
        </li>
      </ul>
      <div>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Tema:</strong></span>
          <input type="text" ng-model="data.tema">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Ubicacion:</strong></span>
          <input type="text" ng-model="data.ubicacion" placeholder="sala G/aula 312">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            <strong>Horario:</strong>
          </div>
          <select ng-model="data.horario">
            <option>08h30-09h00</option><option>09h00-09h30</option><option>09h30-10h00</option>
            <option>10h00-10h30</option><option>10h30-11h00</option><option>11h00-11h30</option>
            <option>11h30-12h00</option><option>12h00-12h30</option><option>12h30-13h00</option>
          </select>
        </label>
        <a class="button button-block icon-left ion-ios-compose button-positive" 
          ng-disabled="!data.tema || !data.ubicacion || !data.horario" ng-click="crearTutoria()">
          Crear Tutoría
        </a>
      </div>
    </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>