<ion-view  view-title="Tutorías Semanales">
  <ion-content class="fondo1">
    <ion-header-bar class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Nombre de tutoria" ng-model="busqueda">
      </label>
    </ion-header-bar>
  
    <div class="list card">
      <div class="row">
        <div class="col col-40">
          <div ng-repeat="i in datosCompEst | filter:{nombre:nombre}" style="text-align:center">
            <h5><strong>Componente:</strong></h5>
            <h6 ng-repeat="y in i.paralelos">{{i.nombre}} [{{y.nombre}}]</h6>
          </div>
        </div>
        <div class="col col-30" style="text-align:center">
          <h4>
              {{contEst}}
              <i ng-hide="contEst"><h6>Cargando...</h6></i>
          </h4>
          <h6>Tutorías Creadas</h6>
        </div>
        <div class="col col-30" style="text-align:center">
          <h4>{{ceEst}}</h4>
          <h6>Componentes Educativos</h6>
        </div>
      </div>        
    </div> 
    

    <div class="list card">
        <div class="item item-divider" style="text-align:center">
          <i class="ion-ios-compose"></i>
          Tutorías Creadas
        </div>
        <div class="list card" ng-repeat="i in datosTuto | filter:busqueda" 
             ng-if="i.Residencia == nombre && i.Integrantes == paraleloEst">
          <a class="item" href="">
            <h2><strong>Tema: {{i.Nombre}}</strong></h2>
            <h5>Creada: {{i.fecha_trama}}</h5>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>