<link href="css/style.css" rel="stylesheet">
<ion-view  view-title="Tutorías Semanales">
  <ion-content class="fondo2">
    <ion-header-bar class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Nombre de tutoria" ng-model="busqueda">
      </label>
    </ion-header-bar>
  
    <div class="card">
      <div class="row">
        <div class="col col-40">
          <div ng-repeat="i in datosComp | filter:{nom_coe:nom_coe}" style="text-align:center">
            <h5><strong>Componente:</strong></h5>
            <h6 ng-repeat="y in i.paralelos">{{i.nom_coe}} [{{y.paralelo}}]</h6>
          </div>
        </div>
        <div class="col col-30" style="text-align:center" ng-show="cont != 0">
          <h4>
              {{cont}}
              <i ng-hide="cont"><h6>Cargando...</h6></i>
          </h4>
          <h6>Tutorías Creadas</h6>
        </div>
        <!--Cuando hay 0 tutorias-->
        <div class="col col-30" style="text-align:center" ng-show="cont == 0">
          <h4>
              {{cont}}
          </h4>
          <h6>Tutorías Creadas</h6>
        </div>
        <!--Fin Cuando hay 0 tutorias-->
        <div class="col col-30" style="text-align:center">
          <h4>{{Ce}}</h4>
          <h6>Componentes Educativos</h6>
        </div>
      </div>  
      <div class="row">
        <div class="col" ng-repeat="i in datosComp |filter: {nom_coe:nom_coe}">
          <a class="button button-small button-block  button-positive icon-left ion-plus-round"
            ng-repeat="x in i.paralelos" href="#/Gtuto/componentes/{{i.nom_coe}}/{{x.paralelo}}">Crear Tutoría
          </a>
        </div>
      </div>      
    </div> 

    <div class="list card">
        <div class="item item-divider" style="text-align:center">
          <i class="ion-ios-compose"></i>
          Tutorías Creadas
        </div>
        <div class="list card" ng-repeat="i in datosTuto | filter:busqueda" 
             ng-if="i.Residencia == nom_coe  && i.Integrantes == paralelo">
          <a class="item" href="#/Gtuto/componentes/{{Nom_coe}}/EdicionTutorias/{{i.id}}">
            <h2><strong>Tema: {{i.Nombre}}</strong></h2>
            <h5>Creada: {{i.fecha_trama}}</h5>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>