<link href="css/style.css" rel="stylesheet">
<ion-view hide-nav-bar="true">
  <ion-content class="padding fondo">
    <br></br>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img ng-src="img/LogoTutorias.png" width="100">
      </div>
      <div class="col"></div>
    </div>

    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="button icon-left ion-ios-person button-clear" ng-disabled="data.username || !data.username"></i>
        <input type="text" placeholder="Usuario" ng-model="data.username">
      </label>
    </div>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="button icon-left ion-ios-locked button-clear" ng-disabled="!data.password || data.password"></i>
        <input type="password" placeholder="Contraseña" ng-model="data.password" ng-hide="Password">
        <input type="text" placeholder="Contraseña" ng-model="data.password" ng-show="Password">
        <label class="toggle  toggle-positive">
          <input type="checkbox" ng-model="Password">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
    </div>

    <div class="item-input-inset">
      <button  class="button button-block button-outline button-balanced"ng-disabled="!data.username || !data.password"ng-click="login()">
            Ingresar
      </button>
    </div>
  </ion-content>
</ion-view>  