<ion-view view-title="Notificaciones">
  <ion-content>	
  
  	<div class="list">
	  	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Luis Mena ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Diego Moreno ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Israel Rey ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Holger Herrera ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Christian Jimenez ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>
	   	<a class="item item-avatar item-text-wrap" href="#">
	      <img src="img/alumno.jpg">
	      <h2>Carlos Ojeda ha comentado en la tutoria con titulo HTML5</h2>
	   	</a>   		  
	</div>
  </ion-content>
</ion-view>