<link href="css/style.css" rel="stylesheet">
<ion-view view-title="Perfil del Usuario">
    <ion-content class="fondo1">
      <img class="full-image" src="img/campus.png">
      <div id="content">
        <div id="profile-info">
          <div class="perfil-circle">
            <p>{{Inicial}}</p>
          </div>
          <h3 id="profile-description"><strong>Estudiante:<strong></h3>
          <h3 id="profile-name">
            {{pNombre}} {{sNombre}} {{pApellido}} {{sApellido}}<br>
            <button class="button  button-icon ion-log-out" ng-click="salir()"> 
              Cerrar sesión
            </button>
          </h3>          
        </div>
      </div>     
    </ion-content>
</ion-view>



