<ion-tabs class="tabs-icon-top tabs-positive">
	<!--Tabs inicio-->
	<ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/Gtuto/perfil">
		<ion-nav-view name="perfil-tab"></ion-nav-view><!--aki se pone el nombre del view creado en app.js-->
	</ion-tab>
	<!--Tabs componentes-->
	<ion-tab title="Componentes" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/Gtuto/componentes">
		<ion-nav-view name="componentes-tab"></ion-nav-view><!--aki se pone el nombre del view creado en app.js-->
	</ion-tab>
	<!--Tabs notificaciones-->
	<ion-tab title="Notificaciones" badge="7" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/Gtuto/notificaciones">
		<ion-nav-view name="notificaciones-tab"></ion-nav-view><!--aki se pone el nombre del view creado en app.js-->
	</ion-tab>
</ion-tabs>	